<%= form_tag('/comparisons/show', method: :get) %>  
<p>
<%= label_tag 'data1'%>
<%= select_tag :data_set_one, options_for_select([["Hospital Count", "hospital_count"], ["District Attendance","district_attendance"]])%>
</p>
<p>
<%= label_tag 'data2'%>
<%= select_tag :data_set_two, options_for_select([["Hospital Count", "hospital_count"], ["District Attendance","district_attendance"]])%>
</p>
<p>
<%= label_tag 'normalizer'%>
<%= select_tag :normalizer, options_for_select([["Population","population"], ["Area","area"], ["Population Density", "population_density"], ["None", "nil"]])%>
</p>
<%= submit_tag "Return"%>

