<table>
<tr>
<th>Borough</th>
<th><%= readable(comparison.data1)%></th>
<th><%= readable(comparison.data2)%></th>
</tr>
<% boroughs.each do |borough|%>
<tr>
<td><%=borough.name%></td>

<td><%= borough.send(comparison.data1,comparison.normalizer1) %></td>
<td><%= borough.send(comparison.data2,comparison.normalizer2)%></td>
</tr>
<%end%>
</table>