<table>
<tr>
<th>Borough</th>
<th><%= data_set1.split('_').map(&:capitalize).join(' ')%></th>
<th><%= data_set2.split('_').map(&:capitalize).join(' ')%></th>
</tr>
<% boroughs.each do |borough|%>
<tr>
<td><%=borough.name%></td>
<td><%= borough.send(data_set1,normalizer) %></td>
<td><%= borough.send(data_set2,normalizer)%></td>
</tr>

<%end%>
</table>