<h1>Check out your data set comparison</h1>


<h2><%= readable(@comparison.data1) %> Correlated Against <%= readable(@comparison.data2) %></h2>

<%= render partial: 'comparisons/table.html.erb', locals: {comparison: @comparison, boroughs: @boroughs} %>

<h2>Correlation: <%= @comparison.calculate_correlation.round(2)%></h2>


<%=include_gon%>

<%= render partial: 'graph.html.erb', locals: {comparison: @comparison, boroughs: @boroughs} %>